.thead-dark{
    background-color: #004666;
  }
  
  .t-header{
    color: white;
  }
  mat-sidenav-container{
    height: 100%;
  }
  
  mat-sidenav-content {
    padding-left: 16px;
  }
  
  mat-sidenav {
    padding: 16px;
    background-color: white;
  
  }