<groupui-header>
  <groupui-button aria-label="menu" (click)="toggle()">
    <div>
      <img src="assets/images/menu-16.svg" alt="" class="menu-logo" />
    </div>
  </groupui-button>
  <div class="head">
    <img src="assets/images/VW-Logo.png" alt="" class="logo" /><groupui-headline heading="h5" class="margin-left-5">Travel Blog CMS</groupui-headline>
  </div>
    
</groupui-header>
  <style>
    groupui-headline {
      flex: 1;
      color: var(--groupui-vwag-color-white);
    }
    groupuiIcon {
      marginleft: var(--groupui-spacing-7);
    }
  </style>
